body, html {
    height: 100%;
    margin: 0;
  }
  
  .ftbg{
    /* The image used */
    background-image: url("para2.webp");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
