.navbar {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.18);
}
.navbar .navbar-brand img {
  max-width: 100px;
}
@media screen and (min-width: 1200px) {
  .navbar {
    letter-spacing: 0.05em;
  }
  .navbar-collapse .navbar-nav .nav-link {
    padding: 0.2em 1em;
  }
  .navbar .navbar-brand img {
    max-width: 4em;
  }
}
@media screen and (min-width: 768px) {
  .navbar .navbar-brand img {
    max-width: 4em;
  }
  .navbar-collapse {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .search-and-icons,
  .contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .search-and-icons {
    width: 70%;
  }
  .navbar form {
    flex: 1;
  }
}
.navbar-collapse .navbar-nav .nav-link {
  color: #000;
}
.contact-info p {
  justify-content: center;
  font-size: 0.8em;
  padding-right: 1em;
  color: #000;
}
.contact-info a {
  color: #000;
  text-decoration: underline;
}
.user-icons div {
  padding-right: 1em;
  font-size: 1.2em;
  color: #000;
}
.navbar form input {
  border-radius: 0;
}
.navbar form input[type="search"] {
  height: 2em;
  background: #fff
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 95%;
}
.navbar form input[type="search"]:focus {
  background: #fff;
  box-shadow: none;
}


.container .product-item {
  min-height: 450px;
  border: none;
  overflow: hidden;
  position: relative;
  border-radius: 0
}

.container .product-item .product {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  cursor: pointer
}

.container .product-item .product img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.container .product-item .product .icons .icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease;
  transform: rotate(180deg);
  cursor: pointer
}

.container .product-item .product .icons .icon:hover {
  background-color: #b71c1c;
  color: #fff
}

.container .product-item .product .icons .icon:nth-last-of-type(3) {
  transition-delay: 0.2s
}

.container .product-item .product .icons .icon:nth-last-of-type(2) {
  transition-delay: 0.15s
}

.container .product-item .product .icons .icon:nth-last-of-type(1) {
  transition-delay: 0.1s
}

.container .product-item:hover .product .icons .icon {
  transform: translateY(-60px)
}

.container .product-item .tag {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 0 0.4rem
}

.container .product-item .title {
  font-size: 0.95rem;
  letter-spacing: 0.5px
}

.container .product-item .fa-star {
  font-size: 0.65rem;
  color: goldenrod
}

.container .product-item .price {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600
}

.fw-800 {
  font-weight: 800
}

.bg-green {
  background-color: #208f20 !important;
  color: #fff
}

.bg-black {
  background-color: #1f1d1d;
  color: #fff
}

.bg-red {
  background-color: #bb3535;
  color: #fff
}
/*drop down hover color*/
@media (max-width: 767.5px) {

  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover {
      background-color: #1f1d1d;
      color: #fff !important
  }

  .navbar-nav .nav-link {
      border: 3px solid transparent;
      margin: 0.8rem 0;
      display: flex;
      border-radius: 10px;
      justify-content: center
  }
}
/*fisrt image css top*/


body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url(MENS\ SHOE\ ONLY/url);

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}



/*button css*/
.center-btn {
  display: block;
  margin: 0 auto;
}



